.component-content.content-item{
    .container{
        display: flex;
        flex-direction: row;
        gap: 16px;
        .thumb{
            background: #d3d3d3 50%/cover no-repeat;
            border-radius: var(border-radius);
            box-shadow: inset 0 0 50px 0 rgba(0,0,0,.1);
            flex-shrink: 0;
            height: 160px;
            max-width: 160px;
            overflow: hidden;
            width: 100%;

            img{
                border-radius: var(--border-radius);
                height: 100%;
                position: relative;
                width: 100%;
            }
        }

        .wrapper-content-item{
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 8px;
            h2{
                font-size: 18px;
                font-weight: 700;
                line-height: 120%;
                margin: 0;
                padding: 0;
            }

            p{
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }
        }
    }

    &:hover{
        color: var(--color-text-hover);
        transition: .2s;
        cursor: pointer;
    }
}
