.page-content.home {
    .container {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .wrapper-loader {
        display: flex;
        gap: 15px;

        .MuiSkeleton-root {
            width: calc((100% - 30px) / 3);
            background-color: rgba(255, 255, 255, 0.05);

            &:after {
                animation: animation-wiooy9 1.6s alternate 0.5s infinite;
            }
        }
    }

    .section-most-popular {
        .swiper {
            .swiper-button-prev, .swiper-button-next {
                color: var(--color-text-active);
                opacity: 0.5;
                transition: opacity 0.2s ease-in-out;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
                background: #1f262e;

                &:hover {
                    opacity: 1;
                }
            }

            .card {
                display: flex;
                height: 400px;
                position: relative;
                border-radius: 12px;
                cursor: pointer;
                overflow: hidden;

                &:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    z-index: 2;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .card__content {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    z-index: 3;
                    bottom: 20px;
                    left: 20px;
                    right: 20px;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;

                    h3, p {
                        margin: 0 !important;
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1;
                        color: var(--color-text-active);
                        margin-bottom: 10px;
                    }

                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }

                &:hover {
                    &:before {
                        opacity: 1;
                    }

                    .card__content {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .section-upcoming {
        .swiper {
            width: 100%;
            height: 600px;
            margin-left: auto;
            margin-right: auto;

            .swiper-pagination {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 4px;
                z-index: 10;
                padding: 6px;
                background: var(--color-background);
                border-radius: 16px;

                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    background-color: var(--color-text-hover);
                    border-radius: 50%;

                    &.swiper-pagination-bullet-active {
                        background-color: var(--color-text-active);
                    }
                }
            }

            .swiper-slide {
                height: calc((100% - 10px) / 2) !important;
            }

            .card {
                display: flex;
                border-radius: 8px;
                cursor: pointer;
                overflow: hidden;
                height: 100%;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    z-index: 2;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .card__content {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    z-index: 3;
                    top: 20px;
                    left: 20px;
                    right: 20px;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;

                    h3, p {
                        margin: 0 !important;
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1;
                        color: var(--color-text-active);
                        margin-bottom: 10px;
                    }

                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }

                &:hover {
                    &:before {
                        opacity: 1;
                    }

                    .card__content {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .section-most-rated {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        border-radius: 16px;
        border: var(--border);

        h2 {
            margin: 0 !important;
        }

        .wrapper-movies {
            display: flex;
            gap: 20px;
            flex-flow: wrap;

            .card {
                width: calc((100% - 60px) / 4);
                border-radius: 12px;
                background: transparent;

                &.MuiSkeleton-root {
                    width: calc((100% - 60px) / 4);
                    background-color: rgba(255, 255, 255, 0.05);

                    &:after {
                        animation: animation-wiooy9 1.6s alternate 0.5s infinite;
                    }
                }

                .MuiCardContent-root {
                    padding-bottom: 16px;
                    background: #1f262e;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    height: 100%;

                    .MuiSvgIcon-root {
                        color: #f5bf32;
                    }

                    .MuiChip-label {
                        color: #f5bf32;
                    }

                    .MuiTypography-root {
                        color: var(--color-text);
                    }
                }
            }
        }
    }
}
